@main(Messages("Smart SEO Service")) {
   <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
      	<br><br>
        <h1></h1>
        <p></p>
      </div>

      <!-- Example row of columns -->
      <div class="centrecDiv">
      <h1>Price List</h1>
       <table class="table3">
        <tr>
        <thead>
            <th ><span>Service Type</span></th>
            <th ><span>Speed per 24h</span></th>
            <th ><span>Minimum Qty</span></th>
            <th ><span>Price per 1000</span></th>
            <th ><span>Maximum Qty</span></th>
            <th ><span>Spliter</span></th>
        </thead>
        </tr>
        
            <tr>
                <td>
                <div  style="text-align: left;width:100%;">
	                <span style="text-align: left;">
	                        <i class="fa fa-2x fa-youtube wow bounceIn text-primary"></i>
	                    <strong>&nbsp; Like</strong>
	                </span>
	             </div>
                </td>
                <td><span>1000</span></td>
                <td><span>100</span></td>
                <td><span>7.00$</span></td>
                <td><span>10000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td>
                <div  style="text-align: left;width:100%;"><span style="text-align: left">
                         <i class="fa fa-2x fa-youtube wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <strong>&nbsp;Dislike</strong>
                </span>
                </div></td>
                <td><span>1000</span></td>
                <td><span>100</span></td>
                <td><span>7.00$</span></td>
                <td><span>10000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td >
                <div  style="text-align: left;width:100%;">
                <span style="text-align: left">
                         <i class="fa fa-2x fa-youtube wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <strong>&nbsp;View</strong>
                </span>
                </div></td>
                <td><span>50000</span></td>
                <td><span>1000</span></td>
                <td><span>0.70$</span></td>
                <td><span>1000000</span></td>
                <td><span>1000</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                         <i class="fa fa-2x fa-youtube wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <strong>&nbsp;Reshare</strong>
                </span></td>
                <td><span>100000</span></td>
                <td><span>50</span></td>
                <td><span>3.00$</span></td>
                <td><span>1000000</span></td>
                <td><span>50</span></td>
            </tr>
            <tr>
                <td ><div  style="text-align: left;width:100%;">
                <span style="text-align: left">
                         <i class="fa fa-2x fa-youtube wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <strong>&nbsp;Favorite</strong>
                </span>
                </div></td>
                <td><span>10000</span></td>
                <td><span>100</span></td>
                <td><span>5.00$</span></td>
                <td><span>50000</span></td>
                <td><span>100</span></td>
            </tr>
            <tr>
                <td ><div  style="text-align: left;width:100%;"><span style="text-align: left">
                         <i class="fa fa-2x fa-instagram wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <strong>&nbsp;Instagram Like</strong>
                </span></div></td>
                <td><span>26000</span></td>
                <td><span>20</span></td>
                <td><span>1.00$</span></td>
                <td><span>26000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                         <i class="fa fa-2x fa-instagram wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <strong>&nbsp;Instagram Follower</strong>
                </span></td>
                <td><span>1000000</span></td>
                <td><span>20</span></td>
                <td><span>1.50$</span></td>
                <td><span>1000000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <i class="fa fa-2x fa-instagram wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <strong>&nbsp;Instagram Comment</strong>
                </span></td>
                <td><span>3000</span></td>
                <td><span>5</span></td>
                <td><span>70.00$</span></td>
                <td><span>3000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                       <i class="fa fa-2x fa-facebook wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <strong>&nbsp;Facebook Post/Picture Like</strong>
                </span></td>
                <td><span>16000</span></td>
                <td><span>100</span></td>
                <td><span>1.00$</span></td>
                <td><span>16000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <i class="fa fa-2x fa-facebook wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <strong>&nbsp;Facebook Website Like</strong>
                </span></td>
                <td><span>16000</span></td>
                <td><span>100</span></td>
                <td><span>5.00$</span></td>
                <td><span>16000</span></td>
                <td><span>100</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <i class="fa fa-2x fa-facebook wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <strong>&nbsp;Facebook GroupMember</strong>
                </span></td>
                <td><span>16000</span></td>
                <td><span>100</span></td>
                <td><span>2.00$</span></td>
                <td><span>16000</span></td>
                <td><span>100</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <i class="fa fa-2x fa-facebook wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <strong>&nbsp;Facebook Reshare</strong>
                </span></td>
                <td><span>500</span></td>
                <td><span>20</span></td>
                <td><span>7.00$</span></td>
                <td><span>5000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/twitter_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Retweet</strong>
                </span></td>
                <td><span>35000</span></td>
                <td><span>20</span></td>
                <td><span>0.70$</span></td>
                <td><span>35000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/twitter_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Favorite</strong>
                </span></td>
                <td><span>35000</span></td>
                <td><span>20</span></td>
                <td><span>0.70$</span></td>
                <td><span>35000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/twitter_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Follower</strong>
                </span></td>
                <td><span>100000</span></td>
                <td><span>100</span></td>
                <td><span>0.70$</span></td>
                <td><span>500000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/twitter_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Follower Country</strong>
                </span></td>
                <td><span>100000</span></td>
                <td><span>100</span></td>
                <td><span>1,50$</span></td>
                <td><span>500000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/soundcloud_dash.png" style="height: 18px;" /> 
                    <strong>&nbsp;Download</strong>
                </span></td>
                <td><span>100000</span></td>
                <td><span>50</span></td>
                <td><span>0.30$</span></td>
                <td><span>100000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/soundcloud_dash.png" style="height: 18px;" /> 
                    <strong>&nbsp;Play</strong>
                </span></td>
                <td><span>1000000</span></td>
                <td><span>50</span></td>
                <td><span>0.20$</span></td>
                <td><span>1000000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/soundcloud_dash.png" style="height: 18px;" /> 
                    <strong>&nbsp;Like</strong>
                </span></td>
                <td><span>2000</span></td>
                <td><span>100</span></td>
                <td><span>8.00$</span></td>
                <td><span>2000</span></td>
                <td><span>100</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/soundcloud_dash.png" style="height: 18px;" /> 
                    <strong>&nbsp;Follower</strong>
                </span></td>
                <td><span>2000</span></td>
                <td><span>100</span></td>
                <td><span>8.00$</span></td>
                <td><span>2000</span></td>
                <td><span>100</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/soundcloud_dash.png" style="height: 18px;" /> 
                    <strong>&nbsp;Repost</strong>
                </span></td>
                <td><span>2000</span></td>
                <td><span>100</span></td>
                <td><span>8.00$</span></td>
                <td><span>2000</span></td>
                <td><span>100</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/soundcloud_dash.png" style="height: 18px;" /> 
                    <strong>&nbsp;Comment</strong>
                </span></td>
                <td><span>2000</span></td>
                <td><span>25</span></td>
                <td><span>30.00$</span></td>
                <td><span>2000</span></td>
                <td><span>25</span></td>
            </tr>
            <tr>
                <td><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/google_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Like</strong>
                </span></td>
                <td><span>500</span></td>
                <td><span>10</span></td>
                <td><span>6.00$</span></td>
                <td><span>5000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/google_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Reshare</strong>
                </span></td>
                <td><span>500</span></td>
                <td><span>10</span></td>
                <td><span>7.00$</span></td>
                <td><span>1000000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/google_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Follower</strong>
                </span></td>
                <td><span>500</span></td>
                <td><span>100</span></td>
                <td><span>9.00$</span></td>
                <td><span>1000</span></td>
                <td><span>100</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/vk_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Like</strong>
                </span></td>
                <td><span>500</span></td>
                <td><span>100</span></td>
                <td><span>3.00$</span></td>
                <td><span>5000</span></td>
                <td><span>100</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/vk_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Repost</strong>
                </span></td>
                <td><span>500</span></td>
                <td><span>100</span></td>
                <td><span>4.00$</span></td>
                <td><span>5000</span></td>
                <td><span>100</span></td>
            </tr>
            <tr>
                <td><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/vk_dash.png" style="height: 18px;" />
                    <strong>&nbsp;GroupMember</strong>
                </span></td>
                <td><span>500</span></td>
                <td><span>100</span></td>
                <td><span>4.00$</span></td>
                <td><span>5000</span></td>
                <td><span>100</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/trafic_dash.png" style="height: 18px;" />
                    <strong>&nbsp;View</strong>
                </span></td>
                <td><span>500000</span></td>
                <td><span>100</span></td>
                <td><span>0.30$</span></td>
                <td><span>9000000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/trafic_dash.png" style="height: 18px;" />
                    <strong>&nbsp;View Country</strong>
                </span></td>
                <td><span>500000</span></td>
                <td><span>100</span></td>
                <td><span>0,50$</span></td>
                <td><span>500000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/vimeo_dash.png" style="height: 18px;" />
                    <strong>&nbsp;View</strong>
                </span></td>
                <td><span>100000</span></td>
                <td><span>1000</span></td>
                <td><span>0.50$</span></td>
                <td><span>10000000</span></td>
                <td><span>1000</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/vine_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Like</strong>
                </span></td>
                <td><span>100000</span></td>
                <td><span>20</span></td>
                <td><span>0.50$</span></td>
                <td><span>100000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/vine_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Revine</strong>
                </span></td>
                <td><span>100000</span></td>
                <td><span>20</span></td>
                <td><span>0.50$</span></td>
                <td><span>100000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/vine_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Follower</strong>
                </span></td>
                <td><span>100000</span></td>
                <td><span>20</span></td>
                <td><span>0.50$</span></td>
                <td><span>100000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/vine_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Loops</strong>
                </span></td>
                <td><span>10000</span></td>
                <td><span>100</span></td>
                <td><span>0.50$</span></td>
                <td><span>10000</span></td>
                <td><span>10</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/daily_dash.png" style="height: 18px;" />
                    <strong>&nbsp;View</strong>
                </span></td>
                <td><span>100000</span></td>
                <td><span>1000</span></td>
                <td><span>0.50$</span></td>
                <td><span>10000000</span></td>
                <td><span>1000</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/pin_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Like</strong>
                </span></td>
                <td><span>285000</span></td>
                <td><span>100</span></td>
                <td><span>3.00$</span></td>
                <td><span>285000</span></td>
                <td><span>100</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/pin_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Repin</strong>
                </span></td>
                <td><span>500</span></td>
                <td><span>20</span></td>
                <td><span>7.00$</span></td>
                <td><span>5000</span></td>
                <td><span>1</span></td>
            </tr>
            <tr>
                <td ><span style="text-align: left">
                        <img src="/Content/Themes/Default/Images/pin_dash.png" style="height: 18px;" />
                    <strong>&nbsp;Follower</strong>
                </span></td>
                <td><span>500</span></td>
                <td><span>20</span></td>
                <td><span>7.00$</span></td>
                <td><span>5000</span></td>
                <td><span>1</span></td>
            </tr>
    </table>
</div>
      
}