@(localUser: models.User = null)

@main(Messages("playauthenticate.navigation.restricted"), "restricted") {
    
    <h1>@Messages("playauthenticate.navigation.restricted")</h1>
    <section class="content">
    	<!--------start basic  infobox--------->
    	 <div class="container-fluid">
  <h1>Hello World!</h1>
  <p>Resize the browser window to see the effect.</p>
  <div class="row">
    <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
    <div class="col-sm-8" style="background-color:lavenderblush;">.col-sm-8</div>
  </div>
</div>
    	
    	<!--------end basic  infobox--------->
    </section>
}